* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game {
  width: min(100vw, 1440px);
  aspect-ratio: 1440/1024;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-section {
  width: 100%;
  flex: 2;
  background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.play-area {
  width: 100%;
  background-image: url("./assets/Desktop_JustDivide_Game_2.png");
  background-size: 100% 100%;
  background-position: center;

  flex: 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-section {
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cat {
  width: 850px;
  height: auto;
  transform: translateY(110px);
  z-index: 3;
}

.badges {
  display: flex;
  justify-content: space-between;
  width: 80%;
  z-index: 2;
  transform: translateY(50px);
}

.badge {
  background-image: url("./assets/Levels\ and\ Score.png");
  background-size: 100% 100%;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 3rem;
  text-align: center;
  padding: 2rem;
}

.grid {
  width: 600px;
  height: 600px;
  background-image: url("./assets/Placement_Box.png");
  background-size: 100% 100%;
  background-position: center;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  gap: 10px;
  padding: 60px;
  padding-top: 100px;
  transform: translateY(-40px);
}

.cell {
  background-image: url("./assets/Placement_Box.png");
  background-size: 100% 100%;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  color: white;
  font-weight: 800;
}

.action-panel-section {
  flex: 4;
  background-color: blueviolet;
}
